@import "../../assets/styles/helpers";

.header__button_burger {
    display: none;

    @include xs-mb {
        display: block;
        position: fixed;
        right: 20px;
        top: 12px;
        z-index: 1;
    }
}

.header__auth_info {
    overflow: hidden;
    position: absolute;
    left: 20px;
    top: 20px;
    width: max-content;
    z-index: 2;

    @include xs-mb {
        left: 15px;
    }
}

.fade-enter {
    opacity: 0;
    transform: translateY(20px); /* Появление снизу */
}
.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition:
        opacity 300ms,
        transform 300ms;
}
.fade-exit {
    opacity: 1;
    transform: translateY(0);
}
.fade-exit-active {
    opacity: 0;
    transform: translateY(20px); /* Исчезновение вниз */
    transition:
        opacity 300ms,
        transform 300ms;
}

.header {
    padding: 1.2rem 15px 0; // 18px

    @include xs-mb {
        position: fixed;
        z-index: 1;
        padding: 0;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
    }
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    @include xs-mb {
        background: linear-gradient(to left, #000000, #006770, #000) no-repeat center center fixed;
        padding: 10px 0;
        justify-content: center;
        bottom: 0;
        border: 1px solid #fff;
        border-radius: 5px;
        box-shadow: 0px 15px 20px rgba(16, 5, 80, 0.479);
    }
}

.nav__link,
.nav__link_active {
    position: relative;
    display: flex;
    align-items: center;

    margin-left: 15px;
    padding: 10px 5px 10px 10px;

    font-size: 0.93rem;
    font-weight: 700;
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    @include xs-mb {
        width: 60px;
        justify-content: center;
        padding: 0;
        margin-left: 0px;
    }

    &_text {
        @include xs-mb {
            display: none;
        }
    }

    &_img {
        display: none;
        @include xs-mb {
            display: block;
        }
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: $color-white;
        transition:
            transform 0.3s ease,
            all 0.7s ease-in-out;

        @include xs-mb {
            content: none;
        }
    }

    &:before {
        opacity: 0;
        bottom: 0;
        transform: translateX(-100%);
    }

    &:after {
        opacity: 0;
        top: 0;
        transform: translateX(100%);
    }

    &:hover:before,
    &:hover:after {
        opacity: 1;
        transform: translateX(0);
    }

    &:active {
        opacity: 1;
        transform: translateX(0);
    }

    &__img {
        display: none;
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        @include xs-mb {
            display: block;
        }
    }

    &_btn {
        padding: 10px;
        transition:
            background-color 0.2s linear,
            0.2s color linear;
        border: 1.5px solid $color-white;

        &:before,
        &:after {
            width: 0;
        }

        &:hover {
            color: #000;
            background-color: $color-white;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            transform: translate(0, -7px);
            transition: all 0.7s ease-in-out;
        }

        @include xs-mb {
            border: none;
            padding: 0;

            &:before,
            &:after {
                width: 0;
            }

            & > span {
                display: none;
            }

            &:hover {
                background-color: transparent;
                transform: translate(0, 0);
                box-shadow: none;
            }
        }
    }
}

.nav__link_active {
    &:before,
    &:after {
        opacity: 1;
        transform: translateX(0);
    }
}
