@import "../../../assets/styles/helpers";

.title {
    font-size: 6.1rem;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 1.4rem;
    opacity: 15%;
    color: $color-white;

    @include mb-lg {
        order: 1;
        margin-bottom: 2rem;
        font-size: 2rem;
        padding-left: 0;
        text-align: center;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    @include xs-mb {
        font-size: 3rem;
    }
}
