@import "../../assets/styles/helpers";

.works {
    overflow: hidden;

    margin-bottom: 40px;

    @include xs-mb {
        margin-bottom: 20px;
    }

    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        @include xs-mb {
            flex-direction: column;
        }
    }
}
.grid_container {
    position: relative;
}

.works_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
