@import "../../assets/styles/helpers";

.works {
    overflow: hidden;

    margin-bottom: 40px;

    @include xs-mb {
        margin-bottom: 20px;
    }

    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        @include xs-mb {
            flex-direction: column;
        }
    }
}
.grid_container {
    position: relative;
}
.works_container {
    display: flex;
    flex-wrap: wrap;
    min-width: 422px;

    margin: -15px;
    margin-bottom: 25px;

    @include xs-mb {
        min-width: 100%;
        margin: 0;
    }

    @include lg {
        min-height: 600px;
    }

    &__col {
        flex-basis: 33.33333%;

        @include mb-lg {
            flex-basis: 50%;
        }

        @include xs-mb {
            flex-basis: 100%;
        }
    }
}
