@import "../../../assets/styles/helpers";

.portfolio {
    margin: 3.8rem 0;
    min-height: 827.172px;

    @include xs-mb {
        margin: 1.8rem 0;
    }

    &__header {
        position: relative;

        &_filter {
            flex-grow: 1;
        }

        &_edit_button {
            margin-left: 15px;
        }

        &_action_panel {
            display: flex;

            position: absolute;
            top: -7px;
            right: 0;

            @include xs-mb {
                position: relative;
                top: 0;
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }

    &__works {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        margin-bottom: 25px;

        @include xs-mb {
            margin: 0;
        }
    }
}

.portfolio__col {
    flex-basis: 33.33333%;

    @include mb-lg {
        flex-basis: 50%;
    }

    @include xs-mb {
        flex-basis: 100%;
    }
}
