@import "../../../assets/styles/helpers";

.skills {
    margin-top: 20px;
}

.skills__header {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    color: $color-blue;
    font-weight: 700;
    text-transform: uppercase;
}

.skills__group {
    &_title {
        padding: 0;
        margin-bottom: 0.2rem;
        font-size: 0.9rem;
        color: $color-white;
        font-weight: 400;
    }
}
