@import "../../../assets/styles/helpers";

.skills {
    margin-top: 20px;
}

.skills__group_edit {
    padding: 0 14px;
    position: relative;
    margin-top: 10px;

    &_title {
        position: absolute;
        top: -0.7rem;
        padding: 0;
        font-size: 0.8rem;
        color: $color-white;
        font-weight: 400;
    }
}

.skills__header {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    color: $color-blue;
    font-weight: 700;
    text-transform: uppercase;
}

.skills__group {
    &_title {
        padding: 0;

        font-size: 0.9rem;
        color: $color-white;
        font-weight: 400;
    }
}
