@import "../../assets/styles/helpers";

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    height: 100%;

    @include xs-mb {
        margin: 0;
        overflow: auto;
    }

    &__title {
        font-size: 1.5rem;
        color: rgba($color: white, $alpha: 0.9);
        font-weight: 700;
        text-transform: uppercase;
    }

    &__subtitle {
        font-size: 1rem;
        color: rgba($color: white, $alpha: 0.9);
        font-weight: 500;

        @include mb-lg {
            font-size: 2rem;
        }
        @include xs-mb {
            font-size: 1.5rem;
        }

        &_divider {
            display: inline-block;
            padding: 0 4px;
        }
    }

    &__link {
        color: $color-white;
        align-self: center;
        display: block;
        font-size: 19px;
        text-align: center;

        &:hover {
            text-decoration: underline;
        }
    }

    &__header {
        text-align: left;
    }

    &__footer {
        margin-top: 20px;
        display: flex;
        justify-content: end;
    }

    .content {
        background: linear-gradient(to left top, #000000, #000, #006770, #000000, #000) no-repeat center center fixed;
        background-size: 100% 100%;
        position: relative;

        padding: 20px 40px 40px;
        border: 1px solid $color-white;

        margin: auto;
        @include lg {
            position: relative;
            top: -100px;
            min-width: 580px;
            max-width: 580px;
        }

        @include mb-lg {
            min-width: 480px;
            padding: 30px 40px 30px 30px;
            max-width: 480px;
        }

        @include xs-mb {
            max-width: 380px;
            padding: 20px 30px 20px 20px;
            width: 100%;
        }

        &__container {
            position: relative;
            margin: 0 -20px;
            padding: 0 20px;
            overflow: auto;
            max-height: 400px;

            .button_edit {
                position: absolute;
                top: 20px;
                right: 20px;
                z-index: 1;
            }

            @include xs-mb {
                max-width: 380px;
            }
        }
    }
}
